/* Step 1 */
p {
	border-bottom: 1px solid red;
}

.kermit {
	border: 5px dashed green;
	border-radius: 25%;
}

#main-div-q {
	padding: 5%;
}

/* Step 2 */
#main-div-2 > .kermit {
	border: 2px dotted purple;
}

#main-div-2 > p {
	background-color: orange;
}

h2 ~ p {
	background-color: gray;
}

/* Step 3 */
#li-1 {
	font-size: 30px;
}
#li-3 {
	text-transform: uppercase;
}

#mystery-ul li:nth-child(2n + 1) {
	font-family: 'Mystery Quest', cursive;
}

img {
	width: 200px;
}

#flex-kermit {
	display: flex;
	flex-wrap: wrap;
}

#flex-kermit > img {
	width: 20%;
	height: auto;
}

input {
	background-color: white;
}

input:valid {
	background-color: green;
}
input:invalid {
	background-color: red;
}









